<div class="toolbar" role="navigation">
{{> nav-toggle}}

 <a href="https://documentation.suse.com" class="home-link" title="Documentation.suse.com"></a>

<a href="https://documentation.suse.com/multi-linux-manager/5.1/" class="library-link" title="SUSE Multi-Linux Manager Product Page">
  <span class="library-text">SUSE Multi-Linux Manager 5.1  | </span>
  <img class="library-icon" src="{{uiRootPath}}/img/library.svg" alt="Library" width="20" height="20">
</a>

{{> breadcrumbs}}
{{> page-versions}}

  {{#if (and page.fileUri (not env.CI))}}
  <div class="edit-this-page"><a href="{{page.fileUri}}"><strong>Edit</strong></a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <div class="edit-this-page"><a href="{{page.editUrl}}"><strong>Edit</strong></a></div>
  {{/if}}

  {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <label class="visual-search-label" for="search-input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input label="Search" aria-label="Search" id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
  {{/if}}
</div>