<div class="body">
{{> nav}}
{{> main}}
</div>
<script>tippy('#previousPage', {
placement: 'bottom', // or 'left', 'right', ...
})

tippy('#nextPage', {
  placement: 'bottom', // or 'left', 'right', ...
})
tippy('#createIssue', {
  placement: 'bottom', // or 'left', 'right', ...
})
tippy('#submitPR', {
  placement: 'bottom', // or 'left', 'right', ...
})
</script>
