i.fa[title='Note'] {
  font-family: inherit;
}

i.fa[title='Important'] {
  font-family: inherit;
}

i.fa[title='Warning'] {
  font-family: inherit;
}

/* HACK to fix https://github.com/SUSE/doc-susemanager/issues/567 */
#twitter-link {
  float: right;
}

.navbar {
  background-color: #f1f1f2;
  color: #000;
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: #02d35f;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: #3dd35f;
}

.nav-menu {
  background-color: #f4f4f4;
}

a:hover {
  color: #00b2e2;
  text-decoration: none;
}

.toc-link.is-active-link {
  font-weight: 600;
  color: #00D35F;
}

.doc a,
.doc a:visited {
  color: #00b2e2;
}


.doc a:hover {
  color: #3dd35f;
}

.toolbar {
  color: #686565;
  background-color: #e0dfdf;
  -webkit-box-shadow: 0 1px 0 #e1e1e1;
  box-shadow: 0 1px 0 #e1e1e1;
}

@media screen and (min-width: 1025px) {
  .article-aside {
    right: 50px;
  }
}

.logo {
  max-height: 50px;
  margin-left: 74px;
}

.nav-panel-explore .context {

  background-color: #e0dfdf;
}

.nav-panel-explore .component .is-current a {
  border-color: #00c081;
  background-color: #00c081;
  font-weight: 500;
  color: #fff;
}

html,
body {
  text-rendering: optimizeLegibility;
}

.article-aside {
  font-family: 'Montserrat', sans-serif;
}

.fa-file-pdf {
  color: #00C081;
}

.fa-file-archive {
  color: #00C081;
}

/* navbar background and bottom border color */
.navbar {
  background-color: #414141;
  border-bottom-color: #25bbbf;
}

/* color primary links */
.doc a,
.doc a:visited {
  color: #25BBBF;
}

/* color H1 heading */
.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: #3b3b3b;
}

/* Paragraph text color */
.doc {
  color: #3b3b3b;
}

.navbar-end .navbar-link:hover,
.navbar-end>a.navbar-item:hover {
  background-color: #25bbbf;
  color: #fff;
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: #25bbbf;
  color: #fff;
}

.navbar-end .navbar-link,
.navbar-end>.navbar-item {
  color: #25bbbf;
}

.article-aside h3.toc-title {
  color: #25BBBF;
}

.fa-file-pdf {
  color: #25bbbf;
}

.fa-file-archive {
  color: #25bbbf;
}

.toc-link.is-active-link {
  color: #25bbbf;
}

@media screen and (min-width: 1025px) {
  .article-aside {
    border-left: 2px dotted #25bbbf;
  }
}

/* Page Navigation buttons */
.cedents .next,
.cedents .prev {
  border: 1px solid #25bbbf;
}

.cedents:hover .next:hover {
  border: 1px solid #5F5F5F;
  border-radius: 3px;
  color: black;
}

.cedents:hover .prev:hover {
  border: 1px solid #5F5F5F;
  border-radius: 3px;
  color: black;
}

.arrow-next {
  color: #25bbbf;
}

.arrow-prev {
  color: #25bbbf;
}

/* Toolbar styles
.toolbar:hover .edit-this-page:hover a {
  color: #25bbbf ;
} */

a:hover {
  color: #25bbbf;
  text-decoration: none;
}

.doc a:hover {
  color: #25bbbf;
}

.custom-color:hover {
  color: #25bbbf;
}

/*.channels {
  color: #A7A9AC;
}

.ubuntu {
  color: #A7A9AC;
}

.salt {
  color: #A7A9AC;
}
*/

.gloss {
  color: #ED6924;
}

/* Table */

tr:last-child {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.doc table.tableblock thead th {
  border-bottom: 2.5px solid #00000094;
  padding: .5rem;
  background: #2cbbbf54;
  border-right: solid 0.5px black;
  border-top: solid 0.5px black;
  border-left: solid 0.5px black;
}

.doc table.tableblock>:not(thead) th,
.doc table.tableblock td {
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: .5rem;
}

tr:nth-child(even) {
  background: #9a9a9a26;
}

.doc .admonitionblock>table {
  border-collapse: unset;
}

/* pre */

.doc pre.highlight code,
.doc pre:not(.highlight) {
  background: #e0e0e08a;
  -webkit-box-shadow: inset 0 0 1.75px #e1e1e1;
  box-shadow: inset 0 0 1.75px #e1e1e1;
  display: block;
  overflow-x: auto;
  padding: .50rem;
  border-radius: 0.30rem;
}

/* admonition style */

/* note */

.doc .admonitionblock.note td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: #c8f7cd70;
  border-left: solid 4px rgb(28, 177, 28);
}

.doc .admonitionblock.note .icon {
  background-color: rgb(28, 177, 28);
  color: #fff
}

/* important */

.doc .admonitionblock.important td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: rgba(255, 223, 127, 0.466);
  border-left: solid 4px #ffbe00;
}

.doc .admonitionblock.important .icon {
  background: #ffbe00;
  color: #fff
}

/* warning */

.doc .admonitionblock.warning td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: #feaeab3f;
  border-left: solid 4px #cc0000;
}


.doc .admonitionblock.warning .icon {
  background: #cc0000;
  color: #fff
}

.warning {
  color: #a03e32;
  font-weight: 500;
}


/* ICONS */

.doc .admonitionblock .icon {
  border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  margin-left: -0.5rem;
}

i.fa.icon-note::before {
  background: no-repeat url("../img/note-light.svg");
}

i.fa.icon-important::before {
  background: no-repeat url("../img/exclamation.svg");
}

i.fa.icon-warning::before {
  background: no-repeat url("../img/warning-hand.svg");
  height: 1.10rem;
  width: 1.10rem;
  margin-right: 0.24rem;
  margin-left: -0.3rem;
}

/* Procedures */

ol.arabic {
  padding-block-start: 0.70rem;
  padding-right: 10px;
  background: #ffffe76b;
  padding-bottom: 0.70rem;
  margin-block-start: 0.70rem;
  box-shadow: -8px 7px 22px -16px rgba(87, 86, 86, 0.58);
}

.olist>.title {
  font-weight: 500;
  font-size: 17.5px;
}

/* nav menu bug fix */

.nav-menu {
  background: #f5f7f9
}

.nav-panel-menu {
  background: #f5f7f9
}

/* List style */

.arabic {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arabic {
  counter-reset: step-counter;
  margin-bottom: 10px;
}

ol.arabic>li {
  counter-reset: nest;
}

.arabic ol>li:before {
  counter-increment: step-counter;
  content: counter(step-counter);
  margin-right: 11px;
  font-size: 80%;
  background-color: rgb(0, 200, 200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  float: left;
}

.doc ol.arabic {
  list-style-type: none;
}

ul {
  list-style-type: disc;
}

.ulist li::before {
  content: none;
  padding: 1px 3px;
  font-size: 50%;
}

.doc .olist li,
.doc .ulist li {
  margin-bottom: 3rem;
  margin-top: 16px;
}

.olist p {
  display: flow-root;
}

/* Search-results */

.search-result-document-guide {
  width: 25%;
  color: #000000;
  font-size: 0.87rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem 0.25rem 0;
  flex: none;
  text-align: left;
  position: relative;
  hyphens: auto;
  word-wrap: break-word;
  margin-right: 1.1rem;
}

.search-result-dataset {
  overflow-wrap: anywhere;
}

.search-result-document-hit {
  font-weight: 500;
}

.search-result-document-guide::before {
  content: "Guide Name :";
  vertical-align: text-bottom;
  font-size: x-small;
  display: list-item;
  font-weight: 100;
  text-align: left;
  padding-bottom: 0.25rem;
  color: grey;
}

.search-result-document-title::before {
  content: "Title :";
  vertical-align: text-bottom;
  font-size: x-small;
  display: block;
  font-weight: 100;
  text-align: left;
  padding-bottom: 0.25rem;
  color: grey;
}

.search-result-document-title {
  border-right: solid 1.5px #e0dfdf;
  color: #15aad4;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
  flex: none;
  text-align: left;
  position: relative;
  hyphens: auto;
  word-wrap: break-word;
  margin-right: 1.1rem;
}

.search-result-highlight {
  font-weight: 700;
}

.search-result-document-hit {
  font-weight: 400;
}

.search-result-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-block-end: solid 1px #ddd;
  text-transform: capitalize;
}

/* Navbar */

.navbar {
  -webkit-box-shadow: 0px 3px 9px 1px rgba(209, 205, 209, 1);
  -moz-box-shadow: 0px 3px 9px 1px rgba(209, 205, 209, 1);
  box-shadow: 0px 3px 9px 1px rgba(209, 205, 209, 1);
}

.nav-panel-menu.is-active {
  border-right: solid 0.2px #d8dadc;
}

/* Navbar Scrollbar */

.nav-panel-menu.is-active::-webkit-scrollbar {
  width: 5px;
}

.nav-panel-menu.is-active::-webkit-scrollbar-track {
  background: #ededed;
}

.nav-panel-menu.is-active::-webkit-scrollbar-thumb:hover {
  background: #bbddff;
}

/* Navbar logo */

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  padding: 0;
  right: 16px;
}

/* Whitespace */

article.doc {
  padding-top: 32px;
  padding-left: 24px;
  font-size: 16.5px;
}

h1.page {
  font-size: 27px;
  font-weight: 500;
  border-bottom: solid 2px #e0dfdfbd;
  border-radius: 4px;
  padding-bottom: 17px;
  margin-bottom: 53px;
}

#preamble+.sect1,
.doc .sect1+.sect1 {
  margin-top: -3.5rem;
}

.doc h2:not(.discrete) {
  border-bottom: none;
  font-weight: 500;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: .4rem 1rem .1rem;
  margin-bottom: 24px;
}

.sect1 {
  border-bottom: solid 1px #90828257;
  padding-bottom: 32px;
}

.paragraph {
  line-height: 25.5px;
}

.body {
  background: #fcfcfc;
}

.admonitionblock+.admonitionblock {
  margin-top: 48px;
}

.toolbar {
  color: #383535;
  background-color: #f7f6f6;
  box-shadow: 0 2px 0 #e1e1e1;
}

.doc .ulist li {
  margin-bottom: 1.2rem;
}

.olist.arabic {
  padding: 24px 0;
}

/* Content Section */

@media screen and (min-width: 1025px) {
  .article-aside {
    border-left: none;
    right: 10px;
  }
}

.toc-link {
  padding-left: 24px;
  border-left: solid 2px #e0dfdf;
  transition: 0.2s;
}

.article-aside h3.toc-title {
  padding-left: 24px;
  margin-bottom: 16px;
}

.toc-link.is-active-link {
  color: #25bbbf;
  border-left: solid 2.5px #2bb1b5;
}

#article-toc:not(.is-position-fixed)>.toc-list>.toc-list-item>.toc-link.is-active-link:first-child {
  font-weight: 400;
  color: #999;
  border-left: solid 2px #e0dfdf;
}

a.toc-link.node-name--H3 {
  padding-left: 50p;
  right: 10px;
  padding-left: 60px;
  padding-right: 40px;
}

/* Left Navbar */

.nav-menu h3.title {
  color: #424242;
  font-size: 21px;
  font-weight: 500;
  margin: 0;
  padding: 0.5em 0 0.5em;
}

.is-current-page>.nav-link,
.is-current-page>.nav-text {
  font-weight: 500;
  color: white;
  background: #48c2c5;
  background-size: 6rem;
  display: block;
  padding: .25rem;
  border: solid 0.3px;
  border-radius: 4px;
}

.nav-item {
  list-style: none;
  margin-top: .75em;
}

/* Error-Page */

body.status-404 .body {
  background: rgb(78, 79, 83);
  background-image: -webkit-linear-gradient(67deg, rgba(78, 79, 83, 1) 0%, rgba(10, 12, 11, 1) 100%);
  background-image: -moz-linear-gradient(67deg, rgba(78, 79, 83, 1) 0%, rgba(10, 12, 11, 1) 100%);
}

.status-404 article.doc {
  max-width: 56rem;
  width: 100%;
  height: 33.9rem
}

.status-404 .paragraph {
  color: floralwhite;
  text-align: center;
  transform: translate(15px, 266px);
}

.status-404 h1.page {
  color: floralwhite;
  text-align: center;
  transform: translate(8px, 191px);
  font-size: 34px;
  font-weight: 500;
  border-bottom: none;
  border-radius: unset;
  padding-bottom: unset;
  margin-bottom: unset;
}

.svg-container {
  text-align: center;
}

img.errorsvg {
  position: absolute;
  width: 22.5rem;
  height: 11.13rem;
  transform: translate(-209px, -60px);
}

/* Making Error page responsive */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  body.status-404 .body {
    background: rgb(78, 79, 83);
    background-image: -webkit-linear-gradient(67deg, rgba(78, 79, 83, 1) 0%, rgba(10, 12, 11, 1) 100%);
    background-image: -moz-linear-gradient(67deg, rgba(78, 79, 83, 1) 0%, rgba(10, 12, 11, 1) 100%);
  }

  img.errorsvg {
    position: absolute;
    width: 62%;
    height: 61%;
    transform: translate(-122px, -107px);
  }

  .status-404 article.doc {
    max-width: 56rem;
    width: 100%;
    height: 36.9rem
  }

  .status-404 h1.page {
    color: floralwhite;
    text-align: center;
    transform: translate(-2px, 209px);
    font-size: 23px;
    font-weight: 500;
  }

  .status-404 .paragraph {
    color: floralwhite;
    text-align: inherit;
    transform: translate(1px, 231px);
  }

  .svg-container {
    text-align: center;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .status-404 article.doc {
    max-width: 56rem;
    width: 100%;
    height: 53.9rem
  }

  .status-404 .paragraph {
    color: floralwhite;
    text-align: center;
    transform: translate(-18px, 266px);
  }

  .status-404 h1.page {
    color: floralwhite;
    text-align: center;
    transform: translate(-19px, 247px);
    font-size: 38px;
    font-weight: 500;
    border-bottom: none;
    border-radius: unset;
    padding-bottom: unset;
    margin-bottom: unset;
  }

  img.errorsvg {
    position: absolute;
    width: 22.5rem;
    height: 11.13rem;
    transform: translate(-228px, -9px);
  }
}

/* Button macro */

b.button {
  background-image: linear-gradient(to right, #dcdcdc, #dbdbde, #dadbe1, #d8dae3, #d5dae6, #d5dae6, #d5dae6, #d5dae6, #d8dae3, #dadbe1, #dbdbde, #dcdcdc);
  margin: 0px 1px;
  padding: 0 8px 0.5px;
  border-bottom: solid 3px #787b7b66;
  color: black;
  font-weight: 400;
  border-radius: 5px;
}

b.button:before {
  content: none;
  padding-right: .25em;
}

b.button:after {
  content: none;
  padding-right: .25em;
}

/* Menu macro */

.menuseq i.caret:before {
  content: "\f30b";
  font-size: 1.1em;
  font-weight: 600;
  line-height: .90909;
  margin: 3px;
}

/* Image */

.doc .imageblock .content img {
  height: auto;
  border-radius: 5px;
  max-width: 100%;
}

.imageblock+.imageblock {
  margin-top: 2rem;
}

.imageblock+.admonitionblock {
  margin-top: 2rem;
}

.doc p code,
.doc thead code {
  color: #222;
  background: #f7f6f6;
  border-radius: .25em;
  font-size: .95em;
  padding: .125em .25em;
}

.doc .dlist dd {
  margin: 0px 0px 0.8rem 1.5rem;
}

.fa-asterisk:before {
  content: "\f069";
  font-size: 11px;
  vertical-align: middle;
}

/* spacing between block */

.imageblock+.imageblock {
  margin-top: 2rem;
}

.imageblock+.admonitionblock {
  margin-top: 2rem;
}

.listingblock+.admonitionblock {
  margin-top: 2rem;
}

/* Example Block */

.doc .exampleblock>.content {
  background: rgba(0, 105, 255, .05);
  border: none;
  border-radius: 0;
  padding: .75rem;
  border-left: solid 4px #2f2fcafa;
}

.exampleblock>.content .paragraph:before {
  content: url(../img/idea.svg);
  display: block;
  width: 24px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

/* Language Selection */

img.langIcon.english {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.spanish {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.czech {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.china {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.japan {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.korea {
  width: 27px;
  margin-right: 6px;
}

#zh_CN {
  cursor: pointer;
}

#en {
  cursor: pointer;
}

#es {
  cursor: pointer;
}

#cs {
  cursor: pointer;
}

#ja {
  cursor: pointer;
}

#ko {
  cursor: pointer;
}

.doc h2:before {
  display: block;
  content: " ";
  height: 130px;
  margin-top: -15px;
  visibility: hidden;
  overflow: hidden;
}
