# Ignoring translations for branding
.idea/
.cache/
*.pdf
branding/locale/entities.specific.adoc
branding/pdf/entities.adoc
site.yml
node_modules/
build/
translations/
package-lock.json
package.json
!Makefile.j2 
!Makefile.lang.target.j2
!Makefile.section.functions.j2
antora.yml
# Mac
**/.DS_Store
Release.key.*

