.idea/
public/
public.zip
.cache/
*.pdf
build/
.vscode/
*.pdf.adoc
*.pdf.po
*.pdf.pot
*~
translations/
*.pdf.*.adoc
*.pdf.*.po
*.pdf.*.pot
antora.yml
uyuni-site.yml
suma-site.yml
for-publication
branding/supplemental-ui/uyuni/uyuni-webui/partials/header-content.hbs
branding/pdf/entities.adoc
branding/locale/entities.specific.adoc
Makefile.*
site.yml
!Makefile.j2 
!Makefile.lang.target.j2
!Makefile.section.functions.j2
antora.yml
