.PHONY: validate-suma
validate-suma: configure-suma validate-suma-en validate-suma-ja validate-suma-zh_CN validate-suma-ko  
        

.PHONY: pdf-tar-suma
pdf-tar-suma: configure-suma pdf-tar-suma-en pdf-tar-suma-ja pdf-tar-suma-zh_CN pdf-tar-suma-ko  
        

.PHONY: antora-suma
antora-suma: configure-suma copy-branding antora-suma-en antora-suma-ja antora-suma-zh_CN antora-suma-ko  
        

.PHONY: obs-packages-suma
obs-packages-suma: configure-suma clean obs-packages-suma-en obs-packages-suma-ja obs-packages-suma-zh_CN obs-packages-suma-ko  
        

.PHONY: pdf-all-suma
pdf-all-suma: configure-suma pdf-all-suma-en pdf-all-suma-ja pdf-all-suma-zh_CN pdf-all-suma-ko  
        

.PHONY: validate-uyuni
validate-uyuni: configure-uyuni validate-uyuni-en validate-uyuni-ja validate-uyuni-zh_CN validate-uyuni-ko  
        

.PHONY: pdf-tar-uyuni
pdf-tar-uyuni: configure-uyuni pdf-tar-uyuni-en pdf-tar-uyuni-ja pdf-tar-uyuni-zh_CN pdf-tar-uyuni-ko  
        

.PHONY: antora-uyuni
antora-uyuni: configure-uyuni copy-branding antora-uyuni-en antora-uyuni-ja antora-uyuni-zh_CN antora-uyuni-ko  
        

.PHONY: obs-packages-uyuni
obs-packages-uyuni: configure-uyuni clean obs-packages-uyuni-en obs-packages-uyuni-ja obs-packages-uyuni-zh_CN obs-packages-uyuni-ko  
        

.PHONY: pdf-all-uyuni
pdf-all-uyuni: configure-uyuni pdf-all-uyuni-en pdf-all-uyuni-ja pdf-all-uyuni-zh_CN pdf-all-uyuni-ko  
        


