.PHONY: validate-mlm
validate-mlm: configure-mlm validate-mlm-en validate-mlm-ja validate-mlm-zh_CN validate-mlm-ko  
        

.PHONY: pdf-tar-mlm
pdf-tar-mlm: configure-mlm pdf-tar-mlm-en pdf-tar-mlm-ja pdf-tar-mlm-zh_CN pdf-tar-mlm-ko  
        

.PHONY: antora-mlm
antora-mlm: configure-mlm copy-branding antora-mlm-en antora-mlm-ja antora-mlm-zh_CN antora-mlm-ko  
        

.PHONY: obs-packages-mlm
obs-packages-mlm: configure-mlm clean obs-packages-mlm-en obs-packages-mlm-ja obs-packages-mlm-zh_CN obs-packages-mlm-ko  
        

.PHONY: pdf-all-mlm
pdf-all-mlm: configure-mlm pdf-all-mlm-en pdf-all-mlm-ja pdf-all-mlm-zh_CN pdf-all-mlm-ko  
        

.PHONY: validate-uyuni
validate-uyuni: configure-uyuni validate-uyuni-en validate-uyuni-ja validate-uyuni-zh_CN validate-uyuni-ko  
        

.PHONY: pdf-tar-uyuni
pdf-tar-uyuni: configure-uyuni pdf-tar-uyuni-en pdf-tar-uyuni-ja pdf-tar-uyuni-zh_CN pdf-tar-uyuni-ko  
        

.PHONY: antora-uyuni
antora-uyuni: configure-uyuni copy-branding antora-uyuni-en antora-uyuni-ja antora-uyuni-zh_CN antora-uyuni-ko  
        

.PHONY: obs-packages-uyuni
obs-packages-uyuni: configure-uyuni clean obs-packages-uyuni-en obs-packages-uyuni-ja obs-packages-uyuni-zh_CN obs-packages-uyuni-ko  
        

.PHONY: pdf-all-uyuni
pdf-all-uyuni: configure-uyuni pdf-all-uyuni-en pdf-all-uyuni-ja pdf-all-uyuni-zh_CN pdf-all-uyuni-ko  
        


