# Which branch and repository are you building from?
# Where are you publishing to and which UI should you use?
content:
  sources:
  # Uncomment to build from your local git clone
  - url: .
    start_path: .
  # Uncomment to build from the remote github repository.
  #- url: https://github.com/uyuni-project/uyuni-docs.git
    # Select the branch you want to build
    # If you make changes on a branch and have the wrong branch selected you will not see your changes in your build
    branches:
    - '.'  
output:
  dir: ./build/en
runtime:
  cache_dir: ./.cache/antora
antora:
  extensions:
  {% for entity in antora.extensions -%}
    {% filter indent(0,true) %}
    - {{ entity.extension}}
    {% endfilter %}
  {% endfor %}
asciidoc:
  extensions:
  {% for entity in asciidoc.extensions -%}
    {% filter indent(0,true) %}
    - {{ entity.extension}}
    {% endfilter %}
  {% endfor %}
  attributes:
  {% for entity in asciidoc.attributes -%}
    {% filter indent(0,true) %}
    {{ entity.attribute }}: {{ entity.value}}
    {% endfilter %}
  {% endfor %}

