{% for entity in asciidoc.attributes -%}
    {% filter indent(0,true) %}
    {% if entity.attribute == 'productnumber' %}
    {{ entity.attribute }}: "{{ entity.value }}"
    {% else %}
    {{ entity.attribute }}: {{ entity.value }}
    {% endif %}
    {% endfilter %}
{% endfor %}
site:
{% for i in site -%}
  {% filter indent(0,true) %}
  {{ i.attribute }}: {{ i.value}}
  {% endfilter %}
{% endfor %}
ui:
  bundle:
    {% for i in ui.bundle -%}
    {% filter indent(0,true) %}
    {{ i.attribute }}: {{ i.value}}
    {% endfilter %}
    {% endfor %}
  {% filter indent(0,true) %}
  supplemental_files: {{ ui.supplemental_files }}
  {% endfilter %}
