<footer class="footer">
  <p>Copyright (C) 2017-2018 <a href="https://opensource.suse.com/doc-susemanager/">SUSE Manager</a></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<script>
function focusSearchInput () { document.querySelector('#search-input').focus() }
var search = docsearch({
  appId: 'KIB3CEDKWD',
  apiKey: '51646b7d454f125193a0ba62253e8e17',
  indexName: 'manager',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
}).autocomplete;
search.on('autocomplete:closed', function () { search.autocomplete.setVal() });
focusSearchInput();
window.addEventListener('load', focusSearchInput)
</script>
