/* admon icons */
i.fa[title='Note:'] {
  font-family: inherit;
}

i.fa[title='Important:'] {
  font-family: inherit;
}

i.fa[title='Warning:'] {
  font-family: inherit;
}

/* icons for pdfs and archive */
.fa-file-pdf {
  color: #00c081;
}

.fa-file-archive {
  color: #00c081;
}

.fa-github:before {
  content: "\f09b";
  color: #0a322c;
}

.fa-user-edit:before {
  content: "\f4ff";
  color: #0a322c;
}

/* HACK to fix twitter link */
#twitter-link {
  float: right;
  border-bottom-style: solid;
  /* border-bottom-color: #33ba78; */
  border-bottom-width: 2px;
}

.edit-this-page {
  visibility: hidden;
}

/* Navbar colors */
.navbar-brand .navbar-item:first-child .navbar-brand .navbar-item:first-child a {
  background-color: #0b322c;
}

/* navigation buttons top nav */
.navbar .button {
  border: none;
  background-color: #e9644e;
}

.nav-panel-explore .context {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar-end .navbar-link:hover, .navbar-end > a.navbar-item:hover {
    background-color: #ff6a52;
    color: #fff;
  }
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link, .navbar-end .navbar-link:hover, .navbar-end>a.navbar-item:hover {
  background: #000;
  color: #fff;
  /* border-bottom-style: unset; */
  background-color: #30ba78;
}

.nav-container {
  width: max-content;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item:hover {
    background-color: #30ba78;
    color: white;
    text-decoration: unset;
  }
}


/* Nav menu */
.nav-menu {
  background-color: #efefef;
  line-height: 22px;
  padding: 0.25rem 0.5rem;
}

.nav-menu a {
  color: #0a322c;
  /* font-weight: 500; */
}

.navbar-link {
  background-color: #0a322c;
}

.navbar-link:hover {
  background-color: #33ba78;
}

/* Dropdown menu border color 
div#topbar-nav {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0C322C;
}*/

/* Dropdown menu border hover 
div#topbar-nav :hover {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0C322C;
}*/

/* Brand border color */
.navbar-brand {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #0C322C;

}

#search-input {
  width: 300px;
}

/* navbar background color */
.navbar {
  background-color: #0a322c;
}

/* margin hack: we need this margin to prevent logo from covering
 bottom navbar border on lower resolutions screens */
a.navbar-logo {
  margin-bottom: 4px;
}

/* Tool bar */
.toolbar a {
  color: #0C322C;
}

.toolbar .edit-this-page a {
  color: #0C322C;
}

.toolbar {
  background-color: #efefef;
}

/* left nav panel */
.nav-panel-menu {
  background-color: #efefef;
}

.panels {
  background-color: #EFEFEF;
}

/* Left Nav Link styles  */
.is-current-page>.nav-link, .is-current-page>.nav-text {
  font-weight: 700;
  color: #fff;
  background-color: #33ba78;
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.8;
}

/* Link hover */
a:hover {
  color: #0C322C;
  text-decoration: underline;
}

.toc-link.is-active-link {
  font-weight: 600;
  color: #0C322C;
}

.doc a, .doc a:visited {
  color: #26915e;
  
}

.doc pre.highlight code, .doc pre:not(.highlight) {
background-color: #0a322c;
  border-radius: 12px;
}

/* Plain links in paragraphs and body */
.doc a.bare {
  color:  #26915e;
  font-weight: 500;
}

.doc a.bare :hover {
  color: #26915e;
}

/* TOC links and heading links */
.doc a, .doc a:visited {
  color: #26915e;
}

.doc a:hover {
  color: #26915e;
}

.doc .listingblock pre:not(.highlight), .doc .literalblock pre, .doc pre.highlight code {
  background: #0c322c;
  -webkit-box-shadow: inset 0 0 1.75px #e1e1e1;
  box-shadow: inset 0 0 1.75px #e1e1e1;
  display: block;
  overflow-x: auto;
  padding: .75rem;
  color: #bfcbfb;
  border-radius: 0;
}

.logo {
  width: 171px;
  height: 57px;
  top: 0;
  left: 0;
  position: sticky;
  padding: 0;
  z-index: 12;
}

/* Heading colors in article */
h1.page {
  color: #0C322C;
  background-color: #90ebcd5c;
}

.doc h2 {
  color: #0C322C;
}

.doc h3 {
  color: #0C322C;
}

.nav-menu h3.title {
  padding: 0.5rem 0 0.125em;
  background-color: #efefef;
}
/* Text legibility */
html, body {
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Font for side toc
.article-aside {
  font-family: 'Montserrat', sans-serif;
}
 */

/* color for pre literal boxes code should use [source, language]*/
pre {
  color: #90EBCC;
  border-radius: 12px;
}

/* Language Selection */

img.langIcon.english {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.spanish {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.czech {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.china {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.japan {
  width: 27px;
  margin-right: 6px;
}

img.langIcon.korea {
  width: 27px;
  margin-right: 6px;
}

#zh_CN {
  cursor: pointer;
}

#en {
  cursor: pointer;
}

#es {
  cursor: pointer;
}

#cs {
  cursor: pointer;
}

#ja {
  cursor: pointer;
}

#ko {
  cursor: pointer;
}
/* asciidoc button unset parenthesis and weight */
.doc b.button::before {
  content: unset;
}

.doc b.button::after {
  content: unset;
}

.doc b.button {
  font-style: normal;
  font-weight: 600;
  border-bottom: 1px solid #c0c2c4;
}

.sidebar .toc-menu a:hover {
  color: #0C322C;
  background-color: #EFEFEF;
  text-decoration: underline;
}

.sidebar .toc-menu a {
  color: #0C322C;
  max-width: fit-content;
}

.sidebar.toc .toc-menu a {
  padding-top: 10px;
}

.toc.sidebar .toc-menu {
  position: fixed;
}

.toc .toc-menu a {
  border-left: unset;
}

.toc .toc-menu h3 {
  font-weight: 600;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 .5rem;
  color: #30BA78;
}

nav.pagination a {
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  color: #0C322C;
  border: 0.2rem solid #dedfe0;
  padding: 1.5rem;
  width: 100%;
  font-style: italic;
}

nav.pagination a {
  color: #0c322c;
  border-color: #dedfe0;
}

nav.pagination a :hover {
  color: #0c322c;
  border-color: #c0c2c4;
}

nav.pagination a::after, nav.pagination a::before {
  color: #0c322c;
  top: unset;
}

nav.pagination span::before {
  color: #0C322C;
  font-size: .75em;
  padding-bottom: .1em;
}

/* Table */
td, p {
  color:#0c322c;
}

.doc .admonitionblock .title, .doc .exampleblock .title, .doc .imageblock .title, .doc .listingblock .title, .doc .literalblock .title, .doc .openblock .title, .doc .tableblock caption {
  color: white;
  font-size: .88889rem;
  font-weight: 500;
  font-style: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  letter-spacing: .01em;
  padding-bottom: .075rem;
  text-align: left;
}

tr:last-child {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #c0c2c4;
}

.doc table.tableblock thead th {
  border-bottom: 2.5px solid #c0c2c4;
  padding: .5rem;
  background: #dedfe0;
  border-right: solid 0.5px #c0c2c4;
  border-top: solid 0.5px #c0c2c4;
  border-left: solid 0.5px #c0c2c4;
}

.doc table.tableblock>:not(thead) th,
.doc table.tableblock td {
  border-left: solid 1px #c0c2c4;
  border-right: solid 1px #c0c2c4;
  padding: .5rem;
}

table {
  word-wrap: inherit;
}

tr:nth-child(even) {
  background: #9a9a9a26;
}

.doc .admonitionblock>table {
  border-collapse: unset;
}

.doc p code {
  font-family: "Roboto Mono", "RobotoMono", "DejaVu Sans Mono", "DejaVuSansMono", "Menlo", "Andale Mono", monospace;
  border-bottom: 1px solid #c0c2c4;
  color: #0C322C;
  font-weight: 600;
  background-color: unset;
  border-radius: unset;
}

/* dd lists*/
.doc .dlist dt {
  font-style: italic;
  font-weight: 600;
}
.doc dl, .doc p {
  margin: 0 0 17px 0;
  padding: 0 0 0 5px;
}

.admonitionblock.note {
  border-style: solid;
  border-color: #192072;
}

.doc .admonitionblock.note .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  /* padding-right: 3rem; */
  background-image: url(../img/icon-note.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

.doc .admonitionblock .icon i::after {
  content: attr(title);
  padding-left: 20px;
  color: #0c322c;
  font-weight: 600;
  font-family: 'Poppins';
}

.doc .admonitionblock .icon i {
  margin-left: 0.5rem;
}

.doc .admonitionblock td.content {
  padding-top: 4.5rem;
}

/* Important block styles */
.admonitionblock.important {
  border-style: solid;
  border-color: #2453ff;
}

.doc .admonitionblock.important .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  background-image: url(../img/important.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

/* Warning block styles */
.admonitionblock.warning {
  border-style: solid;
  border-color: #fe7c3f;
}

.doc .admonitionblock.warning .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  background-image: url(../img/warning.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

/* List style */

.arabic {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arabic {
  counter-reset: step-counter;
  margin-bottom: 10px;
}

ol.arabic>li {
  counter-reset: nest;
}

.arabic ol>li:before {
 /* counter-increment: step-counter;
  content: counter(step-counter); */
  margin-right: -26px;
  margin-top: -3px;
  font-size: 100%;
  color: #0C322C;
  /* background-color: #0C322C; */
  font-weight: bold;
  padding: 5px 12px;
  /* border-radius: 18px; */
  float: left;
}

.doc ol.arabic {
 /* list-style-type: none;*/
  background-color: #EFEFEF;
  padding: 25px;
  padding-left: 70px;
  padding-right: 50px;
  border-left: 0.5rem solid #dedfe0;
}

ul {
  list-style-type: disc;
}

.ulist li::before {
  content: none;
  padding: 1px 3px;
  font-size: 50%;
}

.doc .olist li,
.doc .ulist li {
  margin-bottom: 1.2rem;
  margin-top: 16px;
}

.olist p {
  display: flow-root;
}

.title {
  color: white;
  font-weight: 500;
  padding-left: 15px;
  background-color: #0C322C;
  font-family: 'Poppins';
  padding-top: 10px;
  padding-bottom: 10px;
}

/* toc formatting */
ul.sectlevel1 {
  background-color: white;
}

.doc .admonitionblock .title {
 color: white; 
 margin-bottom: 20px;
 padding-bottom: 10px;
 font-weight: 600;
}

.doc {
  max-width: 56rem;
}

.doc .listingblock pre:not(.highlight) {
  color: #c7f1e3;
}

::marker {
  color: #26915e;
  font-size: large;
  font-weight: 500;
}

ul.sectlevel1 {
  background-color: white;
  line-height: 1.5;
}

.doc {
  line-height: 1.3;
}

.currentrel {
  color: #ff6a52;
  font-size: large;
}

div#toctitle {
  margin-bottom: 1.2rem;
}

.svg-draft-background {
  background-image: url('../img/draft.svg');
  background-size: 1000px; /* 70px */
  background-position-x: 1020px; /* 700px */
  /* background-repeat: no-repeat; */
}

.x-logo {
  width: 20px;
  margin-top: 21px;
  margin-right: 34px;
  margin-left: 20px;
}