<div class="toolbar" role="navigation">
  {{> nav-toggle}}

  <a href="https://documentation.suse.com" class="home-link" title="Documentation.suse.com"></a>

<a href="https://documentation.suse.com/suma/4.3/" class="library-link" title="SUSE Manager Product Page">
  <span class="library-text">SUSE Manager 4.3  | </span>
  <img class="library-icon" src="{{uiRootPath}}/img/library.svg" alt="Library" width="20" height="20">
</a>

{{> breadcrumbs}}
{{> page-versions}}

  {{#if (and page.fileUri (not env.CI))}}
    <div class="edit-this-page"><a href="{{page.fileUri}}">Edit this Page</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
    <div class="edit-this-page"><a href="{{page.editUrl}}">Edit this Page</a></div>
  {{/if}}
</div>

