<footer class="footer">
  <p>Copyright (C) 2017-2018 <a href="https://www.uyuni-project.org/uyuni-docs/">Uyuni</a></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<script>
function focusSearchInput () { document.querySelector('#search-input').focus() }
var search = docsearch({
  appId: 'ACJQNNCCNW',
  apiKey: '3d267136262088e4a66b3ee77fa32b87',
  indexName: 'uyuni-project',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
}).autocomplete;
search.on('autocomplete:closed', function () { search.autocomplete.setVal() });
focusSearchInput();
window.addEventListener('load', focusSearchInput)
</script>
