<nav class="breadcrumbs" aria-label="breadcrumbs">
<ul>
    {{#if page.breadcrumbs.[0]}}
      <li>
        {{#if (and page.breadcrumbs.[0].url (eq page.breadcrumbs.[0].urlType 'internal'))}}
          <a href="{{{relativize page.breadcrumbs.[0].url}}}">{{{page.breadcrumbs.[0].content}}}</a>
        {{else}}
          {{{page.breadcrumbs.[0].content}}}
        {{/if}}
      </li>
    {{/if}}
  </ul>
</nav>