  {% for entity in asciidoc.extensions -%}
    {% filter indent(2, true) %}
    - {{ entity.extension }}
    {% endfilter %}
  {% endfor %}
{% for entity in asciidoc.attributes -%}
  {% filter indent(2, true) %}
  {% if entity.attribute in ['productnumber', 'productname', 'currentversion', 'copyrightdate'] %}
  {{ entity.attribute }}: "{{ entity.value }}"
  {% elif entity.attribute == 'book_titles' %}
  {{ entity.attribute }}: "{{ entity.value | replace('\n', '') | replace('"', '\\"') }}"
  {% else %}
  {{ entity.attribute }}: {{ entity.value }}
  {% endif %}
  {% endfilter %}
{% endfor %}

site:
{% for i in site -%}
  {% filter indent(0,true) %}
  {{ i.attribute }}: {{ i.value }}
  {% endfilter %}
{% endfor %}

ui:
  bundle:
    {% for i in ui.bundle -%}
    {% filter indent(0,true) %}
    {{ i.attribute }}: {{ i.value}}
    {% endfilter %}
    {% endfor %}
  {% filter indent(0,true) %}
  supplemental_files: {{ ui.supplemental_files }}
  {% endfilter %}
