<div class="body">
{{> nav}}
{{> main}}
<!-- <shared-header page-title="Pattern Library" logo-src="https://www.suse.com/assets/img/suse-white-logo-green.svg"
            language="en" user="the name" log-in-url="#" log-out-url="#" log-out-method="DELETE" create-account-url="#"
            forgot-password-url="#" account-settings-url="#" change-password-url="#" user-management-url="#"
            language="en" languages='{
                "en": { "label": "English", "url": "https://documentation.suse.com/en-us/" },
                "de": { "label": "Deutsch", "url": "https://documentation.suse.com/de-de/" },
                "fr": { "label": "Français", "url": "https://documentation.suse.com/fr-fr/" },
                "es": { "label": "Español", "url": "https://documentation.suse.com/es-es/" },
                "zh_CN": { "label": "中文", "url": "https://documentation.suse.com/zh-cn/" },
                "pt_BR": { "label": "Português Brasileiro", "url": "https://documentation.suse.com/pt-br/" }
            }'>
 </shared-header> -->
</div>
