{% for target in targets -%}
.PHONY: {{ target.name }}
{{ target.name }}: {{ target.pre_lang_prerequisite }} {% for language in languages -%} {{ target.name }}-{{ language.langcode }} {% endfor %} {{ target.post_lang_prerequisite }}
        {{ target.commands }}

{% endfor %}
