{% for section in sections -%}
define pdf-{{ section.name }}-product
	cd $(current_dir)
	$(call pdf-book-create,$(1),$(2),$(3),$(4),$(5),{{ section.name }},$(6),$(7),$(8),$(9),$(10))
endef

define pdf-{{ section.name }}-product-uyuni
	cd $(current_dir)
	$(call pdf-book-create-uyuni,$(1),$(2),$(3),$(4),$(5),{{ section.name }},$(6),$(7),$(8),$(9),$(10))
endef

{% for language in languages -%}

.PHONY: pdf-{{ section.name }}-index-{{ language.langcode }}
pdf-{{ section.name }}-index-{{ language.langcode }}:
	$(call pdf-book-create-index,translations/{{ language.langcode }},{{ section.name }},{{ language.langcode }})

.PHONY: pdf-{{ section.name }}-mlm-{{ language.langcode }}
pdf-{{ section.name }}-mlm-{{ language.langcode }}: translations prepare-antora-mlm-{{ language.langcode }} pdf-{{ section.name }}-index-{{ language.langcode }}
	$(call pdf-{{ section.name }}-product,translations/{{ language.langcode }},{{ language.pdf_theme_mlm }},$(PRODUCTNAME_MLM),$(MLM_CONTENT),$(FILENAME_MLM),$(current_dir)/build/{{ language.langcode }}/pdf,{{ language.langcode }},{{ language.locale }},{{ language.gnudateformat }},{{ language.asciidoctor_pdf_additional_attributes }})

.PHONY: pdf-{{ section.name }}-uyuni-{{ language.langcode }}
pdf-{{ section.name }}-uyuni-{{ language.langcode }}: translations prepare-antora-uyuni-{{ language.langcode }} pdf-{{ section.name }}-index-{{ language.langcode }}
	$(call pdf-{{ section.name }}-product-uyuni,translations/{{ language.langcode }},{{ language.pdf_theme_uyuni }},$(PRODUCTNAME_UYUNI),$(UYUNI_CONTENT),$(FILENAME_UYUNI),$(current_dir)/build/{{ language.langcode }}/pdf,{{ language.langcode }},{{ language.locale }},{{ language.gnudateformat }},{{ language.asciidoctor_pdf_additional_attributes }})


{% endfor %}
{% endfor %}

{% for language in languages -%}

# Generate PDF versions of all mlm books
.PHONY: pdf-all-mlm-{{ language.langcode }}
pdf-all-mlm-{{ language.langcode }}: translations prepare-antora-mlm-{{ language.langcode }} {% for section in sections -%} pdf-{{ section.name }}-mlm-{{ language.langcode }} {% endfor %}

# Generate PDF versions of all UYUNI books
.PHONY: pdf-all-uyuni-{{ language.langcode }}
pdf-all-uyuni-{{ language.langcode }}: translations prepare-antora-uyuni-{{ language.langcode }} {% for section in sections -%} pdf-{{ section.name }}-uyuni-{{ language.langcode }} {% endfor %}

{% endfor %}
