/* admon icons */
i.fa[title='Note'] {
  font-family: inherit;
}

i.fa[title='Important'] {
  font-family: inherit;
}

i.fa[title='Warning'] {
  font-family: inherit;
}

/* icons for pdfs and archive */
.fa-file-pdf {
  color: #00c081;
}

.fa-file-archive {
  color: #00c081;
}

.fa-github:before {
  content: "\f09b";
  color: #0a322c;
}

.fa-user-edit:before {
  content: "\f4ff";
  color: #0a322c;
}

/* HACK to fix twitter link */
#twitter-link {
  float: right;
  border-bottom-style: solid;
  border-bottom-color: #33ba78;
  border-bottom-width: 2px;
}

/* Navbar colors */
.navbar-brand .navbar-item:first-child .navbar-brand .navbar-item:first-child a {
  background-color: #0b322c;
}

/* navigation buttons top nav */
.navbar .button {
  border: none;
  background-color: #e9644e;
}

@media screen and (min-width: 1024px) {
  .navbar-end .navbar-link:hover, .navbar-end > a.navbar-item:hover {
    background-color: #ff6a52;
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item:hover {
    background-color: #30ba78;
    color: white;
  }
}

/* Nav menu */
.nav-menu {
  background-color: #f2f2f2;
}

.nav-menu a {
  color: #0a322c;
}

.navbar-link {
  background-color: #0a322c;
}

.navbar-link:hover {
  background-color: #33ba78;
}

/* Top navbar border */
div#topbar-nav {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #32ba78;
}

/* Fix for border on brand */
.navbar-brand {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #32ba78;
}

/* navbar background color */
.navbar {
  background-color: #0a322c;
}

/* margin hack: we need this margin to prevent logo from covering
 bottom navbar border on lower resolutions screens */
a.navbar-logo {
  margin-bottom: 4px;
}


/* Tool bar */
.toolbar a {
  color: #00c081;
}

.toolbar {
  background-color: #f2f2f2;
}

/* left nav panel */
.nav-panel-menu {
  background-color: #f2f2f2;
}

.panels {
  background-color: #0a322c;
}

/* Left Nav Link styles  */
.is-current-page>.nav-link, .is-current-page>.nav-text {
  font-weight: 300;
  color: #fff;
  background-color: #33ba78;
  text-decoration: none;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}


/* Link hover */
a:hover {
  color: #33ba78;
  text-decoration: none;
}

.toc-link.is-active-link {
  font-weight: 600;
  color: #00D35F;
}

.doc a, .doc a:visited {
  color: #00b2e2;
}

.doc a:hover {
  color: #3dd35f;
}

/*.toolbar {
  color: #686565;
  background-color: #e0dfdf;
  -webkit-box-shadow: 0 1px 0 #e1e1e1;
  box-shadow: 0 1px 0 #e1e1e1;
}
*/

.logo {
  padding-top: 10px;
  max-height: 50px;
}

/* Right side TOC */
.toc .toc-menu {
  color: #13c489;
}

.toc .toc-menu a:hover {
  color: #0a322c;
}

.sidebar.toc .toc-menu a:focus {
  color: #e9644e;
}

.toc .toc-menu a.is-active {
  color: #e9644e;
  border-left-color: #e9644e;
}

/* Heading colors in article */
h1.page {
  color: #13c489;
}

.doc h2 {
  color: #13c489;
}

.doc h3 {
  color: #13c489;
}

/* Text legibility */
html, body {
  text-rendering: optimizeLegibility;
}

/* Font for side toc
.article-aside {
  font-family: 'Montserrat', sans-serif;
}
 */

/* Table */



tr:last-child {

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;

}


.doc table.tableblock thead th {
  border-bottom: 2.5px solid #00000094;
  padding: .5rem;
  background: #2cbbbf54;
  border-right: solid 0.5px black;
  border-top: solid 0.5px black;
  border-left: solid 0.5px black;
}



.doc table.tableblock>:not(thead) th, .doc table.tableblock td {

  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: .5rem;
}



tr:nth-child(even){

  background: #9a9a9a26;

}

.doc .admonitionblock>table {
  border-collapse: unset;

}


/* pre */

.doc pre.highlight code, .doc pre:not(.highlight) {
  background: #e0e0e08a;
  -webkit-box-shadow: inset 0 0 1.75px #e1e1e1;
  box-shadow: inset 0 0 1.75px #e1e1e1;
  display: block;
  overflow-x: auto;
  padding: .50rem;
  border-radius: 0.30rem;
}

/* admonition style */


/* note */

.doc .admonitionblock.note td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: #c8f7cd70;
  border-left: solid 4px rgb(28, 177, 28);
}


.doc .admonitionblock.note .icon {
  background-color: rgb(28, 177, 28);
  color: #fff
}

/* important */


.doc .admonitionblock.important td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: rgba(255, 223, 127, 0.466);
  border-left: solid 4px #ffbe00;
}


.doc .admonitionblock.important .icon{
  background: #ffbe00;
  color: #fff
}

/* warning */

.doc .admonitionblock.warning td.content {
  padding: 1rem 1rem .75rem;
  width: 100%;
  background: #feaeab3f;
  border-left: solid 4px #cc0000;
}


.doc .admonitionblock.warning .icon{
  background: #cc0000;
  color: #fff
}

.warning {
  color: #a03e32;
  font-weight: 500;
}


/* ICONS */

.doc .admonitionblock .icon {
  border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  margin-left: -0.5rem;
}

i.fa.icon-note::before {
  background: no-repeat url("../img/note-light.svg");
}

i.fa.icon-important::before {
  background: no-repeat url("../img/exclamation.svg");
}

i.fa.icon-warning::before {
  background: no-repeat url("../img/exclamation.svg");
}

/* Procedures */

ol.arabic {

  padding-block-start: 0.70rem;
  padding-right: 10px;
  background: #ffffe76b;
  padding-bottom: 0.70rem;
  margin-block-start: 0.70rem;
  box-shadow: -8px 7px 22px -16px rgba(87,86,86,0.58);
}

.olist>.title {
  font-weight: 600;
  font-size: 17.5px;
  color: #0A322C;
}

/* List style Procedures */

.arabic {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arabic{
  counter-reset: step-counter;
  margin-bottom: 10px;
}

ol.arabic>li{

  counter-reset: nest;
}


.arabic ol>li:before {
  counter-increment: step-counter;
  content: counter(step-counter);
  margin-right: 11px;
  font-size: 80%;
  background-color: #2FBA78;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  float: left;

}


.doc ol.arabic {
  list-style-type: none;
}

ul{
  list-style-type: disc;
}

.ulist li::before{

  content: none;
  padding: 1px 3px;
  font-size: 50%;

}

.doc .olist li, .doc .ulist li {
  margin-bottom: 3rem;
  margin-top: 16px;
}


.olist p{

  display: flow-root;

}
