# We keep this workflow without using uyuni-docs-helper as it interacts directly with the repository
name: Enforced checkstyle

# Launch manually. It is broken for now and we do not want to spam contributors
on: workflow_dispatch

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

    - name: Check ifeval syntax
      run: find -name "*\.adoc" -type f  | xargs -I {} ./enforcing_checkstyle --filename {} --ifeval

    - name: Check comments on nav file
      run: find -name "nav*\.adoc" -type f  | xargs -I {} ./enforcing_checkstyle --filename {} --comment
