name: feature_tests_uyuni

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: '[CHECKOUT] Checkout branch that triggered this workflow'
      uses: actions/checkout@v1

    - name: '[TOOLCHAIN] Set up Ruby 2.6'
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: '[TOOLCHAIN] Set up NodeJS'
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    #- run: npm install

    - name: '[TOOLCHAIN] po4a'
      run: |
        sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E77D14FE3C9A28E588A34E7469977F2B42813EC6
        sudo add-apt-repository ppa:pgquiles/uyuni
        sudo apt-get install -y po4a

    - name: '[TOOLCHAIN] Install Asciidoctor and Asciidoctor PDF'
      run: |
        gem install asciidoctor
        gem install asciidoctor-pdf --pre
        gem install rouge
        gem install pygments.rb
        gem install coderay
        sudo apt-get install libgraphicsmagick1-dev
        gem install prawn-gmagick
        asciidoctor --version
        asciidoctor-pdf --version
        
    - name: '[TOOLCHAIN] Install Antora XREF Validator'
      run: |
        npm i -g @antora/cli@2.2 
        npm i -g @antora/site-generator-default@2.2
        npm i -g gitlab:antora/xref-validator#v1.0.0-alpha.12
    - name: '[TOOLCHAIN] Lunr/Antora Custom Docker Image'
      run: docker build -t lunr/antora:custom -f Dockerfile.custom .

    - name: '[TEST] Validate Antora XREFS'
      run: |
        NODE_PATH="$(npm ls -g --parseable @antora/site-generator-default)/node_modules" antora --generator @antora/xref-validator suma-site.yml
      #NODE_PATH="$(npm -g root)" antora --generator @antora/xref-validator uyuni-site.yml
    - name: '[BUILD] SUMA Docs with Lunr/Antora Custom Docker Image'
      run: |
        docker run -u $UID --privileged -e DOCSEARCH_ENABLED=true -e DOCSEARCH_ENGINE=lunr -v $GITHUB_WORKSPACE:/antora/ --rm -t lunr/antora:custom suma-site.yml --generator antora-site-generator-lunr
        #cd build/
        ls -a
    - name: '[BUILD] SUMA PDF Documents with Asciidoctor-pdf'
      run: make pdf-all-uyuni


