# We keep this workflow without using uyuni-docs-helper as it interacts directly with the repository
name: Find unused files
on: push

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1

    - name: Look for unused files
      run: ./find_unused
