# We keep this workflow without using uyuni-docs-helper as it interacts directly with the repository
name: Linting

# Launch manually. It is broken for now and we do not want to spam contributors
on: workflow_dispatch

jobs:
  prose:
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout branch that triggered this workflow'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: 'Set up Ruby 3.0'
      uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf #v1.284.0
      with:
        ruby-version: '3.0'

    - name: 'Install Asciidoctor'
      run: gem install asciidoctor

    - name: 'Run Vale'
      uses: errata-ai/vale-action@dcded780f1ff68e2558e802a165a484a4a3e2fb8 #reviewdog branch on 2025-03-18, we should use a version instead
      with:
        # Optional
        styles: |
          https://github.com/errata-ai/Google/releases/latest/download/Google.zip

        # Optional
        config: https://raw.githubusercontent.com/uyuni-project/uyuni-docs/vale-style-checks-prototype/.vale.ini

        files: '["modules/administration", "modules/client-configuration", "modules/common-workflows", "modules/installation-and-upgrade", "modules/quickstart", "modules/reference", "modules/retail", "modules/specialized-guides"]'

      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}


