name: build_test_deploy_uyuni

on:
  push:
    branches:
      - manager-4.3-MU-4.3.9

env:
  LANG: "en_US.UTF-8"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:  
    - name: '[CHECKOUT] Master'
      uses: actions/checkout@v3

    - name: '[TOOLCHAIN] Set up Ruby 3.0'
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'

    - name: '[TOOLCHAIN] Set up NodeJS'
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: '[TOOLCHAIN] po4a'
      run: |
        wget https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Utils/xUbuntu_20.04/Release.key
        sudo apt-key add Release.key
        sudo add-apt-repository -y -u 'deb https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Utils/xUbuntu_20.04/ ./'
        sudo apt-get install -y po4a
    - name: '[TOOLCHAIN] Install Asciidoctor and Asciidoctor PDF'
      run: |
        gem install asciidoctor
        gem install asciidoctor-pdf --pre
        sudo apt-get install -y graphicsmagick
        sudo apt-get install -y libgraphicsmagick1-dev
        gem install prawn-gmagick -v 0.0.9
        gem install rouge -v 3.30.0
        gem install pygments.rb
        gem install coderay
        asciidoctor --version
        asciidoctor-pdf --version
    - name: '[TOOLCHAIN] Lunr/Antora Custom Docker Image'
      run: docker build -t lunr/antora:custom -f Dockerfile.custom .

    - name: '[BUILD] UYUNI Docs with Lunr/Antora Custom Docker Image'
      run: |
        make configure-uyuni
        docker run -u $UID --privileged -e DOCSEARCH_ENABLED=true -e DOCSEARCH_ENGINE=lunr -v $GITHUB_WORKSPACE:/antora/ --rm -t lunr/antora:custom site.yml
        #cd build/
        ls -a
    - name: '[BUILD] UYUNI PDF Documents with Asciidoctor-pdf'
      run: |
        sudo locale-gen zh_CN.UTF-8 ja_JP.UTF-8 es_ES.UTF-8 ko_KR.UTF-8 cs_CZ.UTF-8 en_US.UTF-8
        sudo update-locale LANG=zh_CN.UTF-8
        make configure-uyuni
        make pdf-all-uyuni
