# We keep this workflow without using uyuni-docs-helper as it interacts directly with the repository
name: Update translation files
on:
  push:
    branches:
      - 'master'
      - 'manager-4.3'
      - 'manager-4.3-MU-4.3.[0-9][0-9]?' # MU branches

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: 'Install po4a'
      run: |
         wget https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Utils/xUbuntu_20.04/Release.key
         sudo apt-key add Release.key
         rm -f Release.key
         sudo add-apt-repository -y -u 'deb https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Utils/xUbuntu_20.04/ ./'
         sudo apt-get install -y po4a

    - name: 'Update gettext files'
      run: |
         make pot

    - name: 'Commit changes, if any'
      uses: EndBug/add-and-commit@v9.1.4
      with:
        author_name: Galaxy CI
        author_email: galaxy-ci@suse.de
        message: 'Automatic commit: update translation files'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
