name: Linting
on: [push]
jobs:
  prose:
    runs-on: ubuntu-latest

    steps:
    - name: '[CHECKOUT] Checkout branch that triggered this workflow'
      uses: actions/checkout@v2

    - name: '[TOOLCHAIN] Set up Ruby 3.0'
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'

    - name: 'Install Asciidoctor'
      run: gem install asciidoctor

    - name: Vale
      uses: errata-ai/vale-action@v1.4.3
      with:
        # Optional
        styles: |
          https://github.com/errata-ai/Google/releases/latest/download/Google.zip

        # Optional
        config: https://raw.githubusercontent.com/uyuni-project/uyuni-docs/vale-style-checks-prototype/.vale.ini

        files: '["modules/administration", "modules/client-configuration", "modules/common-workflows", "modules/installation-and-upgrade", "modules/quickstart", "modules/reference", "modules/retail", "modules/specialized-guides"]'

      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}


